<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-outlines">

<head>
    <%- include('../pratialAdmin/head'); %>
        <title>admin dashboard</title>

</head>

<body>
    <%- include('../dashboard/body'); %>
        <%- include('../pratialAdmin/scriptFooter'); %>
</body>

</html>