<!DOCTYPE html>
<html class="no-js">

<head>
    <%- include('../partials/head'); %>
        <title>translate web dashboard</title>
</head>

<body>
    <%- include('../index_include/body'); %>
        <!--=======================Javascript============================-->
        <!-- build:js assets/js/app.min.js -->
        <%- include('../partials/scripts'); %>
</body>

</html>