<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-outlines">

<head>
    <%- include('../pratialAdmin/products/head'); %>
        <title>admin dashboard</title>
</head>

<body>
    <%- include('../dashboard/questions/body'); %>
        <%- include('../pratialAdmin/products/scriptFooter'); %>
</body>

</html>