<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <%- include('../partials/head'); %>
        <title>admin dashboard</title>

</head>

<body>
    <!-- Body main wrapper start -->
    <%- include('../searchResult/body'); %>

        <%- include('../partials/scripts'); %>
</body>

</html>